{% extends "billing/billing.html" %}

{% block header %}Pricing{% endblock header %}


{% block menu %}
<li><a href="{% url 'billing' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
<li><a class="active-menu" href="{% url 'pricing_list' %}"><i class="fa fa-bolt"></i> Pricing</a></li>
<li><a href="{% url 'lecture_list' %}"><i class="fa fa-eye"></i> Lectures</a></li>
{% endblock menu %}


{% block breadcrumb %}
	<li><a href="{% url 'billing' %}">Dashboard</a></li>
	<li><a href="{% url 'pricing_list' %}">Pricing</a></li>
	<li class="active">Delete</li>
{% endblock breadcrumb %}

{% block main %}
	<form action="" method="post">{% csrf_token %}
	    <p>Are you sure you want to delete the pricing "{{object.day}} with price {{object.price}}"?</p>
	    <input class="btn btn-danger" type="submit" value="Cancel" onclick="window.history.back();"/>
	    <input class="btn btn-success" type="submit" value="Delete" />
	</form>
{% endblock main %}