{% load static %}


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gesnergy</title>
    <!-- Bootstrap Styles-->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="{% static 'js/morris/morris-0.4.3.min.css' %}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="{% static 'css/custom-styles.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'js/Lightweight-Chart/cssCharts.css' %}"> 


    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

</head>

<body>
    <div id="wrapper">
        <div class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'billing' %}"><strong>Gesnergy</strong></a>
            </div>
        </div>
        <nav class="navbar-default navbar-side" role="navigation">
            <div id="sideNav" href=""><i class="fa fa-caret-right"></i></div>
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    {% block menu %}
                    <li><a class="active-menu" href="{% url 'billing' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                    <li><a href="{% url 'pricing_list' %}"><i class="fa fa-bolt"></i> Pricing</a></li>
                    <li><a href="{% url 'lecture_list' %}"><i class="fa fa-eye"></i> Lectures</a></li>
                    {% endblock menu %}
                </ul>
            </div>
        </nav>
        <div id="page-wrapper">
            <div class="header">
                <h1 class="page-header">{% block header %}Dashboard{% endblock header %}</h1>
                <ol class="breadcrumb">
                    {% block breadcrumb %}
                    <li class="active"><a href="{% url 'billing' %}">Dashboard</a></li>
                    {% endblock breadcrumb %}
                </ol>

            </div>
                
            <div id="page-inner">
                {% block main %}
                <p>
                    <a class="btn btn-large btn-primary btn-success" data-toggle="confirmation" data-title="Are you sure?" href="{% url 'load_data' %}">Load sample data</a>
                    <a class="btn btn-large btn-primary btn-danger" data-toggle="confirmation" data-title="Are you sure?" href="{% url 'clean_data' %}">Clean database</a>
                </p>
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="panel panel-primary text-center no-boder blue">
                            <div class="panel-left pull-left blue"><i class="fa fa fa-calendar fa-5x"></i></div>
                            <div class="panel-right"><h3>{{last_price.day|date:"d/m/y"|lower }}</h3><strong> Last day</strong></div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="panel panel-primary text-center no-boder blue">
                            <div class="panel-left pull-left blue"><i class="fa fa-usd fa-5x"></i></div>
                            <div class="panel-right"><h3>{{last_price}}</h3><strong> Last price</strong></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="panel panel-primary text-center no-boder blue">
                            <div class="panel-left pull-left blue"><i class="fa fa-eye fa-5x"></i></div>
                            <div class="panel-right"><h3>{{last_lecture}}</h3><strong> Last lecture</strong></div>
                        </div>
                    </div>
                </div>

                
                   
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">Price Evolution</div>
                            <div class="panel-body">
                                <div id="morris-line-chart"></div>
                            </div>            
                        </div>   
                    </div>    
                </div> 
                {% endblock main %}
                <footer><p>All right reserved. Template by: <a href="http://webthemez.com">WebThemez</a></p></footer>
            </div>
        </div>
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <script src="{% static 'js/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'js/morris/raphael-2.1.0.min.js' %}"></script>
    <script src="{% static 'js/morris/morris.js' %}"></script>
    <script src="{% static 'js/easypiechart.js' %}"></script>
    <script src="{% static 'js/easypiechart-data.js' %}"></script>
    <script src="{% static 'js/Lightweight-Chart/jquery.chart.js' %}"></script>
    <script src="{% static 'js/bootstrap-confirmation.min.js' %}"></script>
    <script src="{% static 'js/custom-scripts.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            /* MORRIS LINE CHART
            ----------------------------------------*/
            
            
            var linechartData = {{linechart_data|safe}};
           
            Morris.Line({
                element: 'morris-line-chart',
                data: linechartData,
                xkey: 'y',
                ykeys: ['a'],
                labels: ['Price', 'Total Outcome'],
                fillOpacity: 0.6,
                hideHover: 'auto',
                behaveLikeLine: true,
                resize: true,
                pointFillColors:['#ffffff'],
                pointStrokeColors: ['black'],
                lineColors:['gray','#30a5ff']
            });
            $('.bar-chart').cssCharts({type:"bar"});
            $('.line-chart').cssCharts({type:"line"});
        });
    </script>
</body>
</html>